knowledge/templates/workflows/email-triage-draft.json
{
  "name": "AXANTILO: E-Mail Triage & Entwurf",
  "nodes": [
    {
      "name": "Neue E-Mail",
      "type": "{{TRIGGER_NODE}}",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      }
    },
    {
      "name": "KI: Kategorisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        384
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/agent/llm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', prompt_key: 'email/classify', user: 'Betreff: ' + ($('Neue E-Mail').item.json.subject || '') + '\\nVon: ' + ($('Neue E-Mail').item.json.from || '') + '\\n\\n' + ($('Neue E-Mail').item.json.textPlain || $('Neue E-Mail').item.json.snippet || '') }) }}",
        "options": {}
      }
    },
    {
      "name": "Kategorie parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        384
      ],
      "parameters": {
        "jsCode": "const VALID = [\"lead_inquiry\",\"scheduling\",\"support_faq\",\"vendor_billing\",\"system_alerts\",\"newsletters\",\"spam_marketing\",\"other\"];\nconst PROMPT_BY_CATEGORY = {\n  lead_inquiry: 'email/draft_lead_inquiry',\n  support_faq: 'email/draft_support_faq',\n  other: 'email/draft_other',\n};\nreturn $input.all().map(item => {\n  let category = 'other', urgency = 'medium', reason = '';\n  try {\n    const parsed = JSON.parse(item.json.text);\n    if (parsed && VALID.includes(parsed.category)) category = parsed.category;\n    if (['low','medium','high'].includes(parsed?.urgency)) urgency = parsed.urgency;\n    if (typeof parsed?.reason === 'string') reason = parsed.reason;\n  } catch (e) { /* ungueltiges LLM-JSON -> sicherer Fallback \"other\" */ }\n  return { json: { category, urgency, reason, prompt_key: PROMPT_BY_CATEGORY[category] || null } };\n});"
      }
    },
    {
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        288
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "lead_inquiry",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "lead_inquiry"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "scheduling",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "scheduling"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "support_faq",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "support_faq"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "vendor_billing",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "vendor_billing"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "system_alerts",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "system_alerts"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "newsletters",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "newsletters"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "spam_marketing",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "spam_marketing"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "other",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "other"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      }
    },
    {
      "name": "KI: Entwurf schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/agent/llm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', prompt_key: $json.prompt_key, persona_path: '{{PERSONA_PATH}}', user: 'Betreff: ' + ($('Neue E-Mail').item.json.subject || '') + '\\nVon: ' + ($('Neue E-Mail').item.json.from || '') + '\\n\\n' + ($('Neue E-Mail').item.json.textPlain || $('Neue E-Mail').item.json.snippet || '') }) }}",
        "options": {}
      }
    },
    {
      "name": "Bernd: Freigabe anfragen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        96
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/bernd/hitl-request",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', kind: 'draft_approval', payload: { subject: ($('Neue E-Mail').item.json.subject || ''), draft: ($json.text || ''), mail_ref: ($('Neue E-Mail').item.json.id || ''), flow_slug: 'email-triage-draft' } }) }}",
        "options": {}
      }
    },
    {
      "name": "Kalender lesen",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        896,
        192
      ],
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "primary"
        },
        "limit": 20,
        "options": {
          "orderBy": "startTime"
        }
      },
      "disabled": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "name": "Kalender-Kontext bauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        192
      ],
      "parameters": {
        "jsCode": "const events = $input.all().map(i => i.json).filter(e => e && (e.start || e.summary));\nlet kalender_kontext;\nif (!events.length) {\n  kalender_kontext = 'Kein Kalender-Zugriff oder keine Termine in den naechsten 7 Tagen gefunden — schlage KEINE konkreten Slots vor, sondern frage nach 2-3 Wunschterminen.';\n} else {\n  kalender_kontext = 'Belegte Termine der naechsten 7 Tage (heute ist ' + new Date().toISOString().slice(0, 10) + '). Schlage 2-3 freie Fenster innerhalb der Oeffnungszeiten vor, die NICHT kollidieren:\n'\n    + events.map(e => '- ' + (e.start?.dateTime || e.start?.date || '?') + ' bis ' + (e.end?.dateTime || e.end?.date || '?') + ': ' + (e.summary || 'belegt')).join('\n');\n}\nreturn [{ json: { kalender_kontext } }];"
      }
    },
    {
      "name": "KI: Termin-Entwurf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        192
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/agent/llm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', prompt_key: 'email/draft_scheduling', persona_path: '{{PERSONA_PATH}}', variables: { kalender_kontext: $json.kalender_kontext }, user: 'Betreff: ' + ($('Neue E-Mail').item.json.subject || '') + '\\nVon: ' + ($('Neue E-Mail').item.json.from || '') + '\\n\\n' + ($('Neue E-Mail').item.json.textPlain || $('Neue E-Mail').item.json.snippet || '') }) }}",
        "options": {}
      }
    },
    {
      "name": "KI: Rechnungs-Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        384
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/agent/llm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', prompt_key: 'email/summarize_vendor_billing', user: ('Betreff: ' + ($('Neue E-Mail').item.json.subject || '') + '\\nVon: ' + ($('Neue E-Mail').item.json.from || '') + '\\n\\n' + ($('Neue E-Mail').item.json.textPlain || $('Neue E-Mail').item.json.snippet || '')).slice(0, 2000) }) }}",
        "options": {}
      }
    },
    {
      "name": "Wichtig?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        672
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.urgency }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "high"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "Alert ignoriert",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        768
      ],
      "parameters": {}
    },
    {
      "name": "Als gelesen markieren",
      "type": "{{SEND_NODE}}",
      "typeVersion": 2,
      "position": [
        896,
        960
      ],
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Neue E-Mail').item.json.id }}"
      },
      "onError": "continueRegularOutput"
    },
    {
      "name": "Archivieren",
      "type": "{{SEND_NODE}}",
      "typeVersion": 2,
      "position": [
        1120,
        960
      ],
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Neue E-Mail').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "onError": "continueRegularOutput"
    },
    {
      "name": "Versand-Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1280
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "{{EMAIL_SEND_WEBHOOK_PATH}}",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "name": "Freigabe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        1280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.approved }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "Antwort senden",
      "type": "{{SEND_NODE}}",
      "typeVersion": 2,
      "position": [
        448,
        1184
      ],
      "parameters": {
        "resource": "message",
        "operation": "reply",
        "messageId": "={{ $json.body.mail_ref }}",
        "emailType": "text",
        "message": "={{ $json.body.draft }}",
        "options": {
          "appendAttribution": false,
          "replyToSenderOnly": true
        }
      }
    },
    {
      "name": "Freigabe als gesendet markieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1184
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{APP_BASE_URL}}/api/agent/pending",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $('Versand-Webhook').item.json.body.pending_action_id, project_id: '{{PROJECT_ID}}', status: 'sent' }) }}",
        "options": {}
      }
    },
    {
      "name": "Offene Freigabe laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        1376
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ '{{APP_BASE_URL}}/api/agent/pending?project_id={{PROJECT_ID}}&status=pending&contact=' + encodeURIComponent($json.body.chat_id || '') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      }
    },
    {
      "name": "Revisions-Kontext bauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        1376
      ],
      "parameters": {
        "jsCode": "// Pending-Zeile (GET /api/agent/pending) + Webhook-Body zu einem kompakten Kontext mergen.\nconst hook = $('Versand-Webhook').item.json.body || {};\nconst action = $json.action || $json || {};\nconst payload = action.payload || {};\nconst feedback = Array.isArray(payload.feedback_log) ? payload.feedback_log : [];\nconst texts = feedback.map(f => (f && typeof f.text === 'string') ? f.text : '').filter(Boolean);\nreturn [{ json: {\n  pending_id: action.id || hook.pending_action_id || '',\n  subject: payload.subject || '',\n  mail_ref: payload.mail_ref || '',\n  prev_draft: payload.draft || '',\n  feedback_all: texts.join('\\n- ') || '(kein Feedback-Text uebermittelt)',\n} }];"
      }
    },
    {
      "name": "KI: Entwurf ueberarbeiten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1376
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/agent/llm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', prompt_key: 'email/revise', persona_path: '{{PERSONA_PATH}}', user: 'Bisheriger Entwurf:\\n' + $json.prev_draft + '\\n\\nFeedback des Chefs:\\n- ' + $json.feedback_all + '\\n\\nBetreff: ' + $json.subject }) }}",
        "options": {}
      }
    },
    {
      "name": "Alte Freigabe schliessen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1376
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{APP_BASE_URL}}/api/agent/pending",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $('Revisions-Kontext bauen').item.json.pending_id, project_id: '{{PROJECT_ID}}', status: 'cancelled' }) }}",
        "options": {}
      }
    },
    {
      "name": "Neue Freigabe anfragen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1376
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/bernd/hitl-request",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', kind: 'draft_approval', payload: { subject: $('Revisions-Kontext bauen').item.json.subject, draft: ($('KI: Entwurf ueberarbeiten').item.json.text || ''), mail_ref: $('Revisions-Kontext bauen').item.json.mail_ref, flow_slug: 'email-triage-draft' } }) }}",
        "options": {}
      }
    },
    {
      "name": "Bernd: Rechnungs-Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        384
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/bernd/notify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', kind: 'vendor_billing', text: 'Eingangsrechnung/Beleg:\\n' + ($json.text || '') + '\\n\\n(Nur zur Info - Mail bleibt im Postfach, keine Antwort noetig.)' }) }}",
        "options": {}
      }
    },
    {
      "name": "Bernd: System-Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        576
      ],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/bernd/notify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', kind: 'system_alert', text: 'System-Alert (' + ($('Kategorie parsen').item.json.reason || 'wichtig') + '):\\n' + ($('Neue E-Mail').item.json.subject || '') + '\\nVon: ' + ($('Neue E-Mail').item.json.from || '') }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Neue E-Mail": {
      "main": [
        [
          {
            "node": "KI: Kategorisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI: Kategorisieren": {
      "main": [
        [
          {
            "node": "Kategorie parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kategorie parsen": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "KI: Entwurf schreiben",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kalender lesen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KI: Entwurf schreiben",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KI: Rechnungs-Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wichtig?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Als gelesen markieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Als gelesen markieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KI: Entwurf schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI: Entwurf schreiben": {
      "main": [
        [
          {
            "node": "Bernd: Freigabe anfragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kalender lesen": {
      "main": [
        [
          {
            "node": "Kalender-Kontext bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kalender-Kontext bauen": {
      "main": [
        [
          {
            "node": "KI: Termin-Entwurf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI: Termin-Entwurf": {
      "main": [
        [
          {
            "node": "Bernd: Freigabe anfragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wichtig?": {
      "main": [
        [
          {
            "node": "Bernd: System-Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert ignoriert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Als gelesen markieren": {
      "main": [
        [
          {
            "node": "Archivieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Versand-Webhook": {
      "main": [
        [
          {
            "node": "Freigabe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freigabe?": {
      "main": [
        [
          {
            "node": "Antwort senden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Offene Freigabe laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Antwort senden": {
      "main": [
        [
          {
            "node": "Freigabe als gesendet markieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offene Freigabe laden": {
      "main": [
        [
          {
            "node": "Revisions-Kontext bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisions-Kontext bauen": {
      "main": [
        [
          {
            "node": "KI: Entwurf ueberarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI: Entwurf ueberarbeiten": {
      "main": [
        [
          {
            "node": "Alte Freigabe schliessen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alte Freigabe schliessen": {
      "main": [
        [
          {
            "node": "Neue Freigabe anfragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI: Rechnungs-Info": {
      "main": [
        [
          {
            "node": "Bernd: Rechnungs-Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
