knowledge/templates/workflows/followup-serie.json
{
  "name": "AXANTILO: Lead-Follow-up-Serie (T3/T7/T14)",
  "nodes": [
    {
      "name": "Täglich",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-260, 460],
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "triggerAtHour": 9 }] }
      }
    },
    {
      "name": "Datenablage: Leads lesen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-40, 460],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/agent/data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', table: '{{FOLLOWUP_TABLE}}', op: 'select', limit: 500 }) }}",
        "options": {}
      }
    },
    {
      "name": "Fällige Stage berechnen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 460],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Bestimmt pro Lead, ob JETZT eine Follow-up-Stage fällig ist (T3/T7/T14).\n// Nie mehrfach dieselbe Stage senden; nach Stage 3 wird der Lead auf 'done' gesetzt.\nconst STAGE_DAYS = { 1: 3, 2: 7, 3: 14 };\nconst STAGE_LABEL = { 1: 'T3', 2: 'T7', 3: 'T14' };\nconst rows = ($input.first().json.rows || []);\nconst now = new Date();\nconst out = [];\nfor (const row of rows) {\n  const data = row.data || {};\n  if (data.status === 'done') continue;\n  const offerSentAt = data.offer_sent_at ? new Date(data.offer_sent_at) : null;\n  if (!offerSentAt || isNaN(offerSentAt.getTime())) continue;\n  const currentStage = Number(data.followup_stage || 0);\n  const nextStage = currentStage + 1;\n  const dueDays = STAGE_DAYS[nextStage];\n  if (!dueDays) continue; // schon alle 3 Stufen gesendet\n  const dueAt = new Date(offerSentAt.getTime() + dueDays * 24 * 60 * 60 * 1000);\n  if (now < dueAt) continue; // noch nicht fällig\n  out.push({\n    json: {\n      row_id: row.id,\n      lead_id: data.lead_id || row.id,\n      stage: nextStage,\n      stage_label: STAGE_LABEL[nextStage],\n      offer_sent_at: data.offer_sent_at,\n      lead_kontext: data.lead_kontext || '',\n      bisherige_mails: data.bisherige_mails || '',\n      send_target: data.email || data.send_target || '',\n      is_last_stage: nextStage === 3,\n    },\n  });\n}\nreturn out;"
      }
    },
    {
      "name": "KI: Nachfass-Entwurf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 460],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/agent/llm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', prompt_key: 'followup/draft_stage', persona_path: '{{PERSONA_PATH}}', variables: { stage: $json.stage_label, lead_kontext: $json.lead_kontext, bisherige_mails: $json.bisherige_mails }, user: $json.lead_kontext }) }}",
        "options": {}
      }
    },
    {
      "name": "Nachfass-Mail senden",
      "type": "{{SEND_NODE}}",
      "typeVersion": 2,
      "position": [660, 460],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Fällige Stage berechnen').item.json.send_target }}",
        "subject": "={{ 'Kurze Rückfrage zu unserem Angebot' }}",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      }
    },
    {
      "name": "Datenablage: Stage aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 460],
      "parameters": {
        "method": "POST",
        "url": "{{APP_BASE_URL}}/api/agent/data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project_id: '{{PROJECT_ID}}', table: '{{FOLLOWUP_TABLE}}', op: 'update', id: $('Fällige Stage berechnen').item.json.row_id, data: { followup_stage: $('Fällige Stage berechnen').item.json.stage, status: $('Fällige Stage berechnen').item.json.is_last_stage ? 'done' : 'offen', last_followup_sent_at: $now.toISO() } }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Täglich": {
      "main": [
        [
          { "node": "Datenablage: Leads lesen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Datenablage: Leads lesen": {
      "main": [
        [
          { "node": "Fällige Stage berechnen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fällige Stage berechnen": {
      "main": [
        [
          { "node": "KI: Nachfass-Entwurf", "type": "main", "index": 0 }
        ]
      ]
    },
    "KI: Nachfass-Entwurf": {
      "main": [
        [
          { "node": "Nachfass-Mail senden", "type": "main", "index": 0 }
        ]
      ]
    },
    "Nachfass-Mail senden": {
      "main": [
        [
          { "node": "Datenablage: Stage aktualisieren", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
